<ion-view title="ยืนยัน" hide-nav-bar="true" id="page12">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/dqtBnUwaSUu0CAxrvfyz_v6.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="page12-markdown19" class="show-list-numbers-and-dots">
      <p style="color:#000000;">วัน/เดือน/ปี</p>
    </div>
    <form id="page12-form11" class="list">
      <label class="item item-input" id="page12-input3">
        <input type="date" placeholder="">
      </label>
    </form>
    <div id="page12-markdown20" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Text</p>
    </div>
    <form id="page12-form12" class="list">
      <label class="item item-input" id="page12-input4">
        <input type="text" placeholder="">
      </label>
    </form>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <button id="page12-button12" class="button button-calm  button-block">บันทึก</button>
  </ion-content>
</ion-view>