<ion-view title="ข้อมูลผู้จัดทำ" hide-nav-bar="true" id="page9" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="page9-button-bar8" class="button-bar">
      <a ui-sref="page" id="page9-button50" class="button button-stable  button-block icon ion-android-bookmark"></a>
      <a ui-sref="login" id="page9-button51" class="button button-stable  button-block icon ion-android-person"></a>
      <a ui-sref="page9" id="page9-button52" class="button button-stable  button-block icon ion-ios-help"></a>
    </div>
    <div>
      <img src="img/tt2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
     <div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="img/std1.jpg">
      <h2>นางสาวสุธีรา  สุนคร</h2>
      <p>นักศึกษา ปวส.2</p>
	  <p>แผนกคอมพิวเตอร์</p>
    </a>
	 <a class="item item-thumbnail-left" href="#">
      <img src="img/std2.jpg">
      <h2>นางสาวสุธีรา  สุนคร</h2>
      <p>นักศึกษา ปวส.2</p>
	  <p>แผนกคอมพิวเตอร์</p>
    </a>
	<a class="item item-thumbnail-left" href="#">
      <img src="img/std3.jpg">
      <h2>นางสาวสุธีรา  สุนคร</h2>
      <p>นักศึกษา ปวส.2</p>
	  <p>แผนกคอมพิวเตอร์</p>
    </a>
	<a class="item item-thumbnail-left" href="#">
      <img src="img/std4.jpg">
      <h2>นางสาวสุธีรา  สุนคร</h2>
      <p>นักศึกษา ปวส.2</p>
	  <p>แผนกคอมพิวเตอร์</p>
    </a>
	
<a class="item item-thumbnail-left" href="#">
      <img src="img/std6.jpg">
      <h2>นางสาวสุธีรา  สุนคร</h2>
      <p>นักศึกษา ปวส.2</p>
	  <p>แผนกคอมพิวเตอร์</p>
    </a>
  </div>
 
	<div class="list card">

  <div class="item item-avatar">
    <img src="img/teacher.png">
    <h2>นางสาวอาริยา อุยะพิตัง </h2>
    <p>อาจารย์ที่ปรึกษา</p>
  </div>

 <div class="item item-body">
    <img class="full-image" src="img/teacher.png">
    <p>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-music-note"></i>
    Start listening
  </a>
   

</div>

    <div class="spacer" style="height: 50px;"></div>
  </ion-content>
</ion-view>